%form
  .form-group
    %label{:for => "exampleFormControlInput1"} Drain to rename
    %input#exampleFormControlInput1.form-control{:placeholder => "CB-817", :type => "text"}/

    .form-group
    %label{:for => "exampleFormControlInput2"} Current Name:

    .form-group
    %label{:for => "exampleFormControlInput3"} New name
    %input#exampleFormControlInput1.form-control{:placeholder => "", :type => "text"}/

    .form-group
    %button.btn.btn-primary{:type => "submit"} Rename
  