%form
  .form-group
    %label{:for => "exampleFormControlInput1"} User to demote
    %input#exampleFormControlInput1.form-control{:placeholder => "john.smith@email.com", :type => "text"}/

    .form-group
    %label{:for => "exampleFormControlInput2"} Name:

    .form-group
    %button.btn.btn-primary{:type => "submit"} Demote
  