-# from: https://docs.google.com/document/d/11HUL_tYsFQ7ukT_hV9URFZzDYoKmFH3-IOyzHlSY0Yo/edit
%p
  <i>What is a Storm Stewards program? What does it mean to be a Storm Steward? </i> A Storm Stewards program is a volunteer initiative that helps maintain the cleanliness and health of our local environment. Participants sign up to become Storm Stewards and volunteer to monitor drain (or drains!). They check on their drain before and after heavy rain, wind, or snow, and provide any necessary care. This program is particularly valuable because everything that goes down the drain ultimately ends up in the #{c("city.runoff_destination")}. By keeping the drains clear, we can also prevent street flooding and ensure unimpeded water flow.

%p
  <i> So, what does it mean to be a Storm Steward? </i> Storm drains are the grates you see on streets and roads, typically square-shaped and situated along the curb. Since asphalt and pavement cannot absorb water, rain and melting snow travel along the street and into these drains. Below the grates, a catch basin collects this water and debris, but it can fill up quickly and may not capture everything. It's important to note that water and anything in it, such as trash, does not undergo treatment or go to a wastewater plant. Instead, it empties into nearby water bodies.

%h2
  Here are the instructions for cleaning the your drain:
 
%ol
  %li
    Exercise caution and be mindful of road traffic, watching out for cars, trucks, and bicycles. Work from the sidewalk as much as possible.
  %li
    Remove any debris that directly blocks your storm drain and clear an area a few feet around the drain to prevent potential blockages. This may include leaves, sticks, snow, or trash.
  %li
    Wear gloves or use a rake or broom to clear the drain, being cautious when handling debris.
  %li
    Dispose of trash or recyclables appropriately in their respective bins. Organic materials like leaves and sticks can be disposed of with your yard waste. If you have any questions regarding proper disposal, refer to #{c("city.title")} curbside collection page.
  %li
    Never try to remove the grate or reach inside the storm drain.
  %li
    Remember to check your drain before and after significant weather events, such as rainfall or snowstorms.
  %li
    If your drain lacks a label saying "No Dumping, Drains to River," and you'd like to help, please contact the Mystic River Watershed Association at <a href="mailto:contact@mysticriver.org">#contact@mysticriver.org</a>.
  %li
    If you notice any damage or have concerns about your drain, please report non-emergency issues through #{c("city.report_issues")}.
  %li
    For any other questions about the program or stormwater in general, please contact <a href="mailto:contact@mysticriver.org">#contact@mysticriver.org</a>.

= render :partial => "sidebar/guidelines"
