%h2 General Volunteer Guidelines
%p
  Thank you for your dedication to the #{c("brand.name")} program. Your safety and enjoyment are essential to us. As a volunteer, please follow these guidelines:

%h3 General Safety
%ol
  %li
    Wear appropriate footwear, clothing, sunscreen, and, if necessary, eye protection.
  %li
    Exercise extra caution in wet or slippery conditions.
  %li
    Report non-emergency issues through #{c("city.report_issues")}. Call 911 for emergencies.


%h3 Traffic Safety
%ol
  %li
    Stay out of the street as much as possible and work from the sidewalk if feasible.
  %li
    Wear a bright reflective work vest or bright-colored clothing.
  %li
    Cross streets at signals or designated crosswalks, avoiding mid-block crossings.

%h3 Working Near Waterways
%ol
  %li
    Always work with a partner near water.
  %li
    Watch your footing on slopes and shorelines.
  %li
    Never allow children to work on steep slopes or near shorelines without adult supervision.

%h3 Debris Removal
%ol
  %li
    Wear gloves or use a rake or broom when clearing the drain, exercising caution when handling debris. Always sweep, rake, or shovel glass and avoid picking up sharp objects by hand.
  %li
    Sort collected materials into appropriate garbage, recycling, yard waste, or compost bins.
  %li
    Never touch hazardous or medical waste (including automotive fluids and hypodermic needles). Report such items #{c("city.report_issues")}.

= render :partial => c("city.tos_partial_name")