%form
  .form-group
    %label{:for => "exampleFormControlInput1"} Drain to free
    %input#exampleFormControlInput1.form-control{:placeholder => "CB-817", :type => "text"}/

    .form-group
    %label{:for => "exampleFormControlInput2"} Current Name:

    .form-group
    %button.btn.btn-primary{:type => "submit"} Free
  
   
-#   -# need to find "thing" first
-#   -# below from abandon.html which is called by info_window which is called by main.js line 694

-# = form_for :thing, :url => things_path, :method => :put, :html => {:id => "abandon_form"} do |f|
-#   = f.hidden_field "id"
-#   = f.hidden_field "user_id", :value => ""
-#   = f.hidden_field "adopted_name", :value => ""
-#   %fieldset.form-group
-#     = f.submit t("buttons.abandon", :thing => t("defaults.thing")), :class => "btn btn-danger btn-block"
