%form
  .form-group
    %label{:for => "exampleFormControlInput1"} Drain to release
    %input#exampleFormControlInput1.form-control{:placeholder => "CB-817", :type => "text"}/

    .form-group
    %label{:for => "exampleFormControlInput2"} Current Name:

    .form-group
    %button.btn.btn-primary{:type => "submit"} Release
  