%form
  .form-group
    %label{:for => "exampleFormControlInput1"} Send Drain Report to
    %input#exampleFormControlInput1.form-control{:placeholder => "john.smith@email.com", :type => "text"}/

    .form-group
    %button.btn.btn-primary{:type => "submit"} Send
  