<p>
Hello, this is an automated system-wide usage report for c("brand.name") Mystic River.
</p>

<p>
In total, <%= @user_count %> residents have signed up on your site and have claimed <%= @adoption_count %> drains. 
</p>
