%h3
  = t("titles.sign_in", :sign_in => c("brand.sign_in"))
%a.guidelines{:href => "#guidelines", :"data-toggle" => "modal", :"data-target" => "#guidelines"}
  %p= t("links.learn_more", :thing => t("defaults.thing"))
= render partial: 'things/detail'
