<p>Hello <%= @resource.email %>!</p>

<p>You are recieving this because someone has requested to reset the password for your <%= @program_name %> account. Please follow this link to reset your password:</p>

<p><%= link_to 'Change my password', @reset_password_url %></p>

<p>If you didn’t ask to reset your password, you can ignore this email.</p>

<p>Thanks,</p>

<p><%= @program_name %></p>

